.Banner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 10;
    justify-content: flex-start;

}

.Banner-vitaj-container{
    margin-right: 20px;
    font-size: 3em;
    font-weight: 700;
}

.Banner-link{
   
}